@import "tailwindcss";
.clip-wave {
clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

}



.category-dropdown {
  position: fixed !important;
  top: auto !important;
  bottom: auto !important;
}


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.6s ease-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}



